# Python virtual enviroment
venv/
**/__pycache__/

# Docker
**/Dockerfile

# logs
logs/
**/*.log*

# DB migrations
migrations/

# local mock database
**/*.db

# IDE & Editors
.vscode/
.idea/
**/*.iml
